<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">
                Campaign list
              </h3>
              <span
                class="badge badge-warning"
                id="error-message"
                *ngIf="errorMessage$ | async"
              >
                {{ errorMessage$ | async }}
              </span>
            </div>
            <div class="col text-right">
              <button
                (click)="openCreateCampaignDialog()"
                class="btn btn-sm  btn-primary"
              >
                Create Campaign
              </button>
            </div>
          </div>
        </div>
        <app-loading *ngIf="isCampaginLoading$ | async"></app-loading>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th class="text-center">Id</th>
                <th (sort)="onSort($event)" appSortable="title">Title</th>
                <th (sort)="onSort($event)" appSortable="description">
                  Description
                </th>
                <th
                  class="text-center"
                  (sort)="onSort($event)"
                  appSortable="startDate"
                >
                  Start Time
                </th>
                <th
                  class="text-center"
                  (sort)="onSort($event)"
                  appSortable="endDate"
                >
                  End Time
                </th>
                <th
                  class="text-center"
                  (sort)="onSort($event)"
                  appSortable="starLimitation"
                >
                  Star Limit
                </th>
                <th
                  class="text-center"
                  (sort)="onSort($event)"
                  appSortable="isCampaignActive"
                >
                  Status
                </th>
                <th class="action">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr [formGroup]="searchForm1">
                <td>Search :</td>
                <td>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i
                          class="ni ni-zoom-split-in"
                          style="cursor: pointer;"
                          (click)="search()"
                        ></i
                      ></span>
                    </div>
                    <input
                      class="form-control"
                      placeholder="From ... "
                      name="fromdate"
                      [(ngModel)]="model"
                      ngbDatepicker
                      #d="ngbDatepicker"
                      formControlName="fromdate"
                    />
                    <div class="input-group-append">
                      <button
                        class="btn btn-outline fa fa-calendar"
                        (click)="d.toggle()"
                        type="button"
                      ></button>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="input-group ">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i
                          class="ni ni-zoom-split-in"
                          style="cursor: pointer;"
                          (click)="search()"
                        ></i
                      ></span>
                    </div>
                    <input
                      class="form-control"
                      placeholder="Status ..."
                      type="text"
                      formControlName="status"
                    />
                  </div>
                </td>
                <td>
                  <div class="input-group ">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i
                          class="ni ni-zoom-split-in"
                          style="cursor: pointer;"
                          (click)="search()"
                        ></i
                      ></span>
                    </div>
                    <input
                      class="form-control"
                      placeholder="Title ..."
                      type="text"
                      formControlName="title"
                    />
                  </div>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr
                *ngFor="let campaign of campaigns$ | async"
                style="text-transform: capitalize;"
              >
                <td
                  class="text-center"
                  scope="row"
                  [routerLink]="[campaign.id]"
                >
                  {{ campaign.id }}
                </td>
                <td style="font-weight: bold;" [routerLink]="[campaign.id]">
                  {{ campaign.title || 'n/a' }}
                </td>
                <td [routerLink]="[campaign.id]">
                  {{ campaign.description || 'n/a' }}
                </td>
                <td class="text-center" [routerLink]="[campaign.id]">
                  {{ campaign.startDate | date: 'dd/MM/yyyy' || 'n/a' }}
                </td>
                <td class="text-center" [routerLink]="[campaign.id]">
                  {{ campaign.endDate | date: 'dd/MM/yyyy' || 'n/a' }}
                </td>
                <td class="text-center" [routerLink]="[campaign.id]">
                  {{ campaign.starLimitation || 'n/a' }}
                </td>
                <td class="text-center" [routerLink]="[campaign.id]">
                  {{ campaign.isCampaignActive }}
                </td>
                <td class="action">
                  <button
                    class="btn btn-sm btn-info"
                    (click)="
                      openUpdateCampaignDialog(
                        campaign.id,
                        campaign.title,
                        campaign.isCampaignActive,
                        campaign.description,
                        campaign.startDate,
                        campaign.endDate
                      )
                    "
                  >
                    Modify
                  </button>
                  <button
                    class="btn btn-sm btn-danger"
                    (click)="openConfirmDeleteCampaign(campaign.id)"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div
          class="d-flex justify-content-between"
          *ngIf="(campaigns$ | async).length"
        >
          <select
            class="custom-select sm-size"
            style="width: auto"
            name="pageSize"
            [value]="tableQuery.limit"
            (change)="changePageSize($event)"
          >
            <option *ngFor="let item of pageSizes" [ngValue]="item">
              {{ item }}
            </option>
          </select>
          <ngb-pagination
            [pageSize]="tableQuery.limit"
            [collectionSize]="totalCampaigns$ | async"
            [page]="tableQuery.offset"
            (pageChange)="changePage($event)"
            class="pagination-sm"
            [boundaryLinks]="true"
          >
          </ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
