<div class="col-md-6 offset-md-3 mt-5" style="top:100px">
  <div class="card">
    <h3 class="card-header">Reset password</h3>
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="email"
            formControlName="username"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
          />
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
          </div>
        </div>

        <div class="button-area">
          <button [disabled]="loading" class="btn btn-danger">
            <span
              *ngIf="loading"
              class="spinner-border spinner-border-sm mr-1"
            ></span>
            Reset
          </button>
          <a href="/login">Back to Login</a>
        </div>
      </form>
    </div>
  </div>
</div>
