.header {
  padding-top: 4rem;
  padding-bottom: 6rem;
}

.card-body {
  padding: 30px;
  background-color: #fef8f9;
  border-radius: 5px;
}

.error {
  font-size: 12px;
  padding: 3px 0 5px 12px;
  height: 10px;
  color: #fc7c5f;
}

button {
  margin: -8px 0 !important;
}
