<mat-card class="login-form">
  <h2>Login with your account</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Username" formControlName="username" />
      <mat-error>
        <span
          *ngIf="
            !loginForm.get('username').valid &&
            loginForm.get('username').touched
          "
          >Please enter username</span
        >
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input
        matInput
        placeholder="Password"
        formControlName="password"
        type="password"
      />
      <mat-error>
        <span
          *ngIf="
            (!loginForm.get('password').valid &&
              loginForm.get('password').touched) ||
            loginForm.get('password').hasError('minlength')
          "
          >Please enter password, with less than 8 characters.</span
        >
      </mat-error>
    </mat-form-field>
    <mat-error>
      <span id="error-message" *ngIf="errorMessage$ != null">
        {{ errorMessage$ | async }}
      </span>
    </mat-error>
    <div class="button-row">
      <button mat-raised-button color="primary" type="submit">
        Login
      </button>
    </div>
  </form>
</mat-card>
