.wrapper {
  height: calc(100vh - 96px);
  background-color: rgba(15, 76, 129, 1);
}

.container {
  height: calc(100vh - 96px);
}

mat-card {
  background-color: #fff;
  padding: 30px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 15px;
}

h2 {
  color: #5299d3;
  padding: 20px 0x 20px 0px;
  margin-bottom: 10px;
  text-shadow: 0.5px 0.5px 4px rgba(0, 0, 0, 0.2);
}

span,
.mat-form-filed {
  width: 100%;
}

/* #error-message {
  margin-bottom: 20px;
  width: 100px;
} */

button {
  height: 40px;
  margin-top: 15px;
  width: 100%;
  padding: auto;
  color: #fff;
}

#btn-login {
  background-color: #5299d3;
  color: #fff;
}

button ::ng-deep .mat-spinner circle {
  stroke: #faf9f9;
}

button ::ng-deep mat-spinner {
  display: inline-block;
}
