mat-card {
  background-color: whitesmoke;
  padding: 30px;
  border-radius: 15px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}

h2 {
  color: blueviolet;
  padding: 20px 0x 20px 0px;
  margin-bottom: 10px;
}

span,
.example-full-width {
  width: 100%;
}

#error-message {
  margin-bottom: 20px;
  width: 100px;
}

button {
  height: 40px;
  margin-top: 15px;
  width: 100%;
  padding: auto;
  background-color: #d0b8ac;
  color: #faf9f9;
}
