<div class="login"></div>
<mat-card class="login-form">
  <h2>Login with your account</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
    <mat-form-field class="mat-form-filed">
      <input matInput placeholder="Username" formControlName="username" />
      <mat-error>
        <span *ngIf="loginForm.get('username').errors?.required"
          >Please enter username</span
        >
      </mat-error>
    </mat-form-field>
    <mat-form-field class="mat-form-filed">
      <input
        matInput
        placeholder="Password"
        formControlName="password"
        type="password"
        [type]="hide ? 'password' : 'text'"
      />
      <i class="material-icons" matSuffix (click)="hide = !hide">
        {{ hide ? 'visibility' : 'visibility_off' }}
      </i>
      <mat-error>
        <span *ngIf="loginForm.get('password').errors?.required"
          >Please enter password</span
        >
        <span *ngIf="loginForm.get('password').errors?.minlength"
          >Password with more than 8 characters
        </span>
      </mat-error>
    </mat-form-field>
    <mat-error>
      <span id="error-message" *ngIf="errorMessage$ | async"
        >{{ errorMessage$ | async }}
      </span>
    </mat-error>
    <div class="button-row">
      <button mat-raised-button color="primary" type="submit">
        Login
        <mat-spinner
          [strokeWidth]="2"
          [diameter]="20"
          *ngIf="isLoadingResults$ | async"
        ></mat-spinner>
      </button>
    </div>
  </form>
</mat-card>
