<div class="modal-content">
  <div class="modal-body">
    <h2 id="exampleModalLabel">Reset password form</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="resetPasswordForm">
      <div class="form-group mb-3">
        <div class="input-group input-group-alternative">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
          </div>
          <input
            class="form-control"
            placeholder="Username"
            type="text"
            formControlName="username"
          />
        </div>
      </div>
      <button type="submit" class="btn btn-primary">
        Submit
      </button>
      <button type="button" class="btn btn-secondary">
        Close
      </button>
    </form>
  </div>
</div>
