.grid {
padding-top: 5%;
padding-bottom: 5%;
}

mat-grid-list {
  position: relative;
  margin: auto;
  padding-bottom: 0 !important;
}

mat-card {
  width: 95%;
  height: 95%;
  margin: auto;
  box-sizing: border-box;
  background-color: #efd6d2;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

mat-card-header {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  color: #594236;
}

mat-card-content {
  flex-grow: 1;
  overflow: auto;
  text-align: center;
}

mat-card-footer {
  text-align: right;
}

button {
  background-color: #efd6d2;
  color: #594236;
  border: none;
  border-radius: 50%;
  margin-right: 10px;
}

.scroll-to-top {
  position: fixed;
  bottom: 64px;
  right: 15px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  border: none;
}

.show-scroll {
  opacity: 1;
  border: none;
}

