<app-header></app-header>
<div class="grid">
  <mat-grid-list
    [cols]="breakpoint"
    rowHeight="1:1"
    (window:resize)="onResize($event)"
  >
    <mat-grid-tile *ngFor="let staff of staffs">
      <mat-card>
        <mat-card-header>
          <mat-card-title
            >{{ staff.firstName }} {{ staff.middleName }}
            {{ staff.lastName }}</mat-card-title
          >
        </mat-card-header>
        <mat-card-content>
          <img
            mat-card-lg-image
            src="{{ staff.avatar }}"
            style="width: auto; height: 250px;"
          />
          <h2>{{ staff.quote }}</h2>
        </mat-card-content>
        <mat-card-footer>
          <button mat-icon-button color="accent">
            <mat-icon>add_circle</mat-icon>
          </button>
          <button mat-icon-button color="accent">
            <mat-icon>remove_circle</mat-icon>
          </button>
        </mat-card-footer>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <button
    [ngClass]="{ 'show-scroll': showScroll }"
    (click)="scrollToTop()"
    class="scroll-to-top"
    style="background-color:#faf9f9 !important;"
  >
    <img
      id="scrollTop"
      src="https://i.imgur.com/nYg7Xeo.png"
      style="width: 50px; height: auto;"
    />
  </button>
</div>
<app-footer></app-footer>
