<div class="register"></div>
<mat-card class="register-form">
  <h2>Register account now</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Username" formControlName="username" />
      <mat-error>
        <span
          *ngIf="
            !registerForm.get('username').valid &&
            registerForm.get('username').touched
          "
          >Please enter username</span
        >
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input
        matInput
        placeholder="Email"
        formControlName="email"
        type="email"
      />
      <mat-error>
        <span *ngIf="registerForm.get('email').errors?.required"
          >Please enter email</span
        >
      </mat-error>
    </mat-form-field>
    <mat-error>
      <span id="error-message" *ngIf="errorMessage$ != null"> </span>
    </mat-error>
    <div class="button-row">
      <button mat-raised-button color="primary" type="submit">
        Submit
        <mat-spinner
          [strokeWidth]="2"
          [diameter]="20"
          *ngIf="isLoadingResults$ | async"
        ></mat-spinner>
      </button>
      <Button class="btn btn-default" routerLink="/">
        Cancel
      </Button>
    </div>
  </form>
</mat-card>
