<div class="wrapper">
  <div class="container col-12 col-sm-7 col-md-7 col-lg-5 col-xl-3 ">
    <mat-card class="changePW-form">
      <h2>Change your password</h2>
      <mat-dialog-content>
        <p>Updating password for your secure access.</p>
        <form (ngSubmit)="onSubmit()" [formGroup]="changePasswordForm">
          <mat-form-field class="mat-form-filed">
            <input
              matInput
              placeholder="Current Password"
              formControlName="currentPassword"
              type="password"
              [type]="hide1 ? 'password' : 'text'"
            />
            <i class="material-icons" matSuffix (click)="hide1 = !hide1">
              {{ hide1 ? 'visibility' : 'visibility_off' }}
            </i>
            <mat-error>
              <span
                *ngIf="
                  changePasswordForm.get('currentPassword').errors?.required
                "
                >Please enter current password</span
              >
            </mat-error>
          </mat-form-field>
          <mat-form-field class="mat-form-filed">
            <input
              matInput
              placeholder="New Password"
              formControlName="newPassword"
              type="password"
              [type]="hide2 ? 'password' : 'text'"
            />
            <i class="material-icons" matSuffix (click)="hide2 = !hide2">
              {{ hide2 ? 'visibility' : 'visibility_off' }}
            </i>
            <mat-error>
              <span
                *ngIf="changePasswordForm.get('newPassword').errors?.required"
              >
                New password is required
              </span>
            </mat-error>
            <mat-error>
              <span
                *ngIf="
                  changePasswordForm.get('newPassword').errors?.invalidPassword
                "
              >
                Password should have minimum 8 characters, at least 1 uppercase
                letter, 1 lowercase letter and 1 number
              </span>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="mat-form-filed">
            <input
              matInput
              placeholder="Confirm Password"
              formControlName="confirmPassword"
              type="password"
              [type]="hide3 ? 'password' : 'text'"
            />
            <i class="material-icons" matSuffix (click)="hide3 = !hide3">
              {{ hide3 ? 'visibility' : 'visibility_off' }}
            </i>
            <mat-error>
              <span
                *ngIf="
                  changePasswordForm.get('confirmPassword').errors?.required
                "
              >
                Confirm Password is required
              </span>
            </mat-error>
            <mat-error>
              <span
                *ngIf="
                  changePasswordForm.get('confirmPassword').errors
                    ?.passwordMismatch
                "
              >
                Password doesnot match
              </span>
            </mat-error>
          </mat-form-field>
          <mat-error>
            <span id="error-message" *ngIf="errorMessage$ | async">
              {{ errorMessage$ | async }}
            </span>
          </mat-error>
          <mat-dialog-actions>
            <button mat-raised-button id="btn-submit" type="submit">
              Submit
              <mat-spinner
                [strokeWidth]="2"
                [diameter]="20"
                *ngIf="isLoadingResults$ | async"
              ></mat-spinner>
            </button>
            <button mat-flat-button routerLink="/">
              Cancel
            </button>
          </mat-dialog-actions>
        </form>
      </mat-dialog-content>
    </mat-card>
  </div>
</div>
