<mat-card class="changePW-form">
  <h2>Your first login was successful!</h2>
  <mat-dialog-content>
    <p>Please update your password for your secure access.</p>
    <form (ngSubmit)="onSubmit()" [formGroup]="changeForm">
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Password"
          formControlName="password"
          type="password"
        />
        <mat-error>
          <span
            *ngIf="
              !changeForm.get('password').valid &&
              changeForm.get('password').touched
            "
            >Please enter password</span
          >
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="New Password"
          formControlName="newPassword"
          type="password"
        />
        <mat-error>
          <span
            *ngIf="
              !changeForm.get('newPassword').valid &&
              changeForm.get('newPassword').touched
            "
            >Please enter new password</span
          >
        </mat-error>
      </mat-form-field>
      <mat-error>
        <span id="error-message" *ngIf="errorMessage$ != null">
          {{ errorMessage$ | async }}
        </span>
      </mat-error>
      <mat-dialog-actions>
        <button mat-raised-button color="primary" type="submit">
          Submit
        </button>
        <button mat-flat-button mat-dialog-close>
          Cancel
        </button>
      </mat-dialog-actions>
    </form>
  </mat-dialog-content>
</mat-card>
