<div class="header">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Tips</h1>
          <p class="text-lead text-light">
            A strong enough password can protect your privacy.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg
      x="0"
      y="0"
      viewBox="0 0 2560 100"
      preserveAspectRatio="none"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
    >
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <h3>Change your password</h3>
            <span
              class="badge badge-warning"
              id="error-message"
              *ngIf="errorMessage$ | async"
            >
              {{ errorMessage$ | async }}
            </span>
          </div>
          <form (ngSubmit)="onSubmit()" [formGroup]="changePasswordForm">
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-email-83"></i
                  ></span>
                </div>
                <input
                  class="form-control"
                  placeholder="Current Password"
                  [type]="hide1 ? 'password' : 'text'"
                  formControlName="currentPassword"
                />
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i
                      *ngIf="hide1 === true"
                      class="fa fa-eye"
                      (click)="hide1 = !hide1"
                    ></i>
                    <i
                      *ngIf="hide1 === false"
                      class="fa fa-eye-slash"
                      (click)="hide1 = !hide1"
                    ></i>
                  </span>
                </div>
              </div>
              <div class="error">
                <span
                  *ngIf="
                    changePasswordForm.get('currentPassword').errors
                      ?.required &&
                    changePasswordForm.get('currentPassword').touched
                  "
                >
                  Please enter current password
                </span>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-lock-circle-open"></i
                  ></span>
                </div>
                <input
                  class="form-control"
                  placeholder="New Password"
                  [type]="hide2 ? 'password' : 'text'"
                  formControlName="newPassword"
                />
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i
                      *ngIf="hide2 === true"
                      class="fa fa-eye"
                      (click)="hide2 = !hide2"
                    ></i>
                    <i
                      *ngIf="hide2 === false"
                      class="fa fa-eye-slash"
                      (click)="hide2 = !hide2"
                    ></i>
                  </span>
                </div>
              </div>
              <div class="error">
                <span
                  style="align-content: center;"
                  *ngIf="
                    changePasswordForm.get('newPassword').errors?.required &&
                    changePasswordForm.get('newPassword').touched
                  "
                  >Please enter new password</span
                >
                <span
                  *ngIf="
                    changePasswordForm.get('newPassword').errors?.minlength
                  "
                  >Password with more than 8 characters
                </span>
                <span
                  *ngIf="
                    changePasswordForm.get('newPassword').value ===
                      changePasswordForm.get('currentPassword').value &&
                    changePasswordForm.get('newPassword').touched
                  "
                  >New password must be differ from current password</span
                >
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-lock-circle-open"></i
                  ></span>
                </div>
                <input
                  class="form-control"
                  placeholder="Confirm Password"
                  [type]="hide3 ? 'password' : 'text'"
                  formControlName="confirmPassword"
                />
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i
                      *ngIf="hide3 === true"
                      class="fa fa-eye"
                      (click)="hide3 = !hide3"
                    ></i>
                    <i
                      *ngIf="hide3 === false"
                      class="fa fa-eye-slash"
                      (click)="hide3 = !hide3"
                    ></i>
                  </span>
                </div>
              </div>
              <div class="error">
                <span
                  style="align-content: center;"
                  *ngIf="
                    changePasswordForm.get('confirmPassword').errors
                      ?.required &&
                    changePasswordForm.get('confirmPassword').touched
                  "
                  >Please confirm new password</span
                >
                <span
                  *ngIf="
                    changePasswordForm.get('confirmPassword').value !=
                    changePasswordForm.get('newPassword').value
                  "
                  >Please check again your new password</span
                >
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-block btn-primary my-4">
                Submit
                <i
                  class="fas fa-spinner fa-pulse spinner"
                  *ngIf="isLoadingResults$ | async"
                ></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
