.container-fluid {
  padding-top: 150px;
}

.position {
  text-align: center;
  max-width: fit-content;
}

.action {
  text-align: center;
  max-width: 70px;
}

.voting {
  max-width: 150px;
  text-align: center;
}
