<h3 mat-dialog-title>Fill in the form to add employee</h3>
<mat-spinner *ngIf="isLoadingResults$ | async"></mat-spinner>
<form [formGroup]="staffForm" (ngSubmit)="onFormSubmit()">
  <mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label for="Id">ID</mat-label>
      <input matInput placeholder="Id" formControlName="id" />
      <mat-error>
        <span *ngIf="staffForm.get('id').errors?.required">
          Please enter your id !
        </span>
      </mat-error>
    </mat-form-field>
    <mat-list>
      <mat-list-item>Personal Information</mat-list-item>
      <mat-form-field appearance="outline">
        <mat-label for="firstName">First Name</mat-label>
        <input
          type="text"
          matInput
          placeholder="Ex: User"
          formControlName="firstName"
          pattern="[a-zA-Z ]*"
        />
        <mat-error>
          <span *ngIf="staffForm.get('firstName').errors?.required">
            First name is required !
          </span>
          <span *ngIf="staffForm.get('firstName').errors?.pattern">
            First name must contain valid character !
          </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label for="lastName">Last Name</mat-label>
        <input
          type="text"
          matInput
          placeholder="Ex: User"
          [matAutocomplete]="autoLastName"
          formControlName="lastName"
          pattern="[a-zA-Z ]*"
        />
        <mat-autocomplete
          #autoLastName="matAutocomplete"
          [displayWith]="displayLastName"
        >
          <mat-option
            *ngFor="let option of filteredLastName | async"
            [value]="option"
            >{{ option }}
          </mat-option>
        </mat-autocomplete>
        <mat-error>
          <span *ngIf="staffForm.get('lastName').errors?.required">
            Last name is required !
          </span>
          <span *ngIf="staffForm.get('lastName').errors?.pattern">
            Last name must contain valid character !
          </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label for="birthday">Birthday</mat-label>
        <input
          matInput
          placeholder="Ex: DD/MM/YYYY"
          [matDatepicker]="birthday"
          formControlName="birthday"
        />
        <mat-datepicker-toggle matSuffix [for]="birthday">
        </mat-datepicker-toggle>
        <mat-datepicker #birthday disabled="false"></mat-datepicker>
        <mat-error>
          <span *ngIf="staffForm.get('birthday').errors?.required">
            Birthday is required !
          </span>
        </mat-error>
      </mat-form-field>
      <mat-divider></mat-divider>
      <mat-list-item>Address</mat-list-item>
      <mat-form-field appearance="outline">
        <mat-label for="addressCity">City</mat-label>
        <input
          type="text"
          matInput
          placeholder="Ex: Da Nang"
          [matAutocomplete]="autoCity"
          formControlName="addressCity"
          pattern="[a-zA-Z ]*"
        />
        <mat-autocomplete
          #autoCity="matAutocomplete"
          [displayWith]="displayCity"
        >
          <mat-option
            *ngFor="let option of filteredCityName | async"
            [value]="option"
            >{{ option }}
          </mat-option>
        </mat-autocomplete>
        <mat-error>
          <span *ngIf="staffForm.get('addressCity').errors?.required">
            City is required !
          </span>
          <span *ngIf="staffForm.get('addressCity').errors?.pattern">
            City must contain valid character !
          </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label for="addressStreet">Street</mat-label>
        <input
          matInput
          placeholder="Ex: 16 -18, An Nhon 3"
          formControlName="addressStreet"
        />
        <mat-error>
          <span *ngIf="staffForm.get('addressStreet').errors?.required">
            Street is required !
          </span>
        </mat-error>
      </mat-form-field>
      <mat-divider></mat-divider>
      <mat-list-item>Contact</mat-list-item>
      <mat-form-field appearance="outline">
        <mat-label for="phone">Phone</mat-label>
        <input
          type="text"
          matInput
          #input
          placeholder="Ex: 0909909909"
          formControlName="phone"
          pattern="[0-9]*"
          maxlength="10"
        />
        <mat-hint align="start">{{ input.value?.length || 0 }}/10</mat-hint>
        <mat-error>
          <span *ngIf="staffForm.get('phone').errors?.required">
            Telephone is required !
          </span>
          <span *ngIf="staffForm.get('phone').errors?.pattern">
            Telephone is not invalid !
          </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label for="email">Email</mat-label>
        <input
          type="text"
          matInput
          placeholder="Ex: user@mail.com"
          formControlName="email"
        />
        <mat-error>
          <span *ngIf="staffForm.get('email').errors?.required"
            >Email is required !</span
          >
          <span *ngIf="staffForm.get('email').errors?.email"
            >Email is not valid !</span
          >
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label for="position">Position</mat-label>
        <mat-select formControlName="position" placeholder="Ex: Staff">
          <mat-option
            matInput
            *ngFor="let position of positions"
            [value]="position"
            >{{ position }}</mat-option
          >
        </mat-select>
        <mat-error>
          <span *ngIf="staffForm.get('position').errors?.required">
            Position is required !
          </span>
        </mat-error>
      </mat-form-field>
    </mat-list>
  </mat-dialog-content>

  <mat-dialog-actions>
    <div class="button-row">
      <a mat-flat-button color="primary" (click)="onNoClick()">
        <mat-icon>arrow_back</mat-icon>
      </a>
      <button
        type="submit"
        mat-flat-button
        [disabled]="this.staffForm.invalid"
        color="primary"
      >
        <mat-icon>save</mat-icon>
      </button>
      <mat-error>
        <span id="error-message" *ngIf="errorMessage$ | async">{{
          errorMessage$ | async
        }}</span>
      </mat-error>
    </div>
  </mat-dialog-actions>
</form>
