mat-form-field {
  padding-left: 32px;
}

.button-row {
  padding: 10px 0;
}

mat-icon {
  padding: auto;
  margin: auto;
}

a {
  margin-left: 16px;
}

h3 {
  text-align: center;
  margin: auto;
  padding: 10px;
}

mat-spinner {
  margin: 0 auto;
  margin-top: 20%;
}
