/* Structure */
.staff-add {
  background-color: rgba(15, 76, 129, 1);
  height: calc(100vh - 96px);
}

.container {
  height: calc(100vh - 96px);
  overflow: auto;
}

mat-card {
  top: 50%;
  transform: translateY(-50%);
}

mat-form-field {
  padding-left: 32px;
}

.row {
  justify-content: flex-start;
}

.button-row {
  padding: 10px 16px;
}

mat-icon {
  padding: auto;
  margin: auto;
}

a {
  margin-left: 10px;
}

h3 {
  text-align: center;
  margin: auto;
  padding: 10px;
}

mat-spinner {
  margin: 0 auto;
  margin-top: 20%;
}
