/* Structure */
.staff-add {
  height: 100vh;
  background-color: rgba(15, 76, 129, 1);
}

.example-container {
  position: relative;
  height: fit-content;
}

mat-form-field {
  margin-bottom: 10px;
}

mat-icon {
  padding: auto;
  margin: auto;
}

a {
  margin-left: 10px;
}

h3 {
  text-align: center;
  margin: auto;
  padding: 10px;
}

mat-spinner {
  margin: 0 auto;
  margin-top: 20%;
}
