<!-- <div class="input-group mx-5 mt-5">
  <input
    type="text"
    class="form-control bg-light large"
    placeholder="Search for..."
    aria-label="Search"
  />
  <div class="input-group-append mr-7">
    <button class="btn btn-primary" type="button">
      <i class="fas fa-search fa-sm"></i>
    </button>
  </div>
</div> -->
<!-- Table -->
<div class="container-fluid mt--7">
  <div class="row" *ngIf="campaign$ | async as campaign">
    <div class="col-xl-6 order-xl-1 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header boder-0">
          <h3>
            Campaign information
          </h3>
          <span
            class="badge badge-warning"
            id="error-message"
            *ngIf="errorMessage$ | async"
            >{{ errorMessage$ | async }}</span
          >
        </div>
        <app-loading *ngIf="isCampaignDetailLoading$ | async"></app-loading>
        <div class="table-responsive ">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th class="text-center">Campaign Id</th>
                <th class="text-center">Participants</th>
                <th class="text-center">Voted / Total</th>
                <th class="text-center">Stars Limit</th>
                <th class="text-center">Start Date</th>
                <th class="text-center">End Date</th>
                <th class="text-center">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">
                  {{ campaign.campaign.id }}
                </td>
                <td class="text-center">{{ campaign.staffs.length }}</td>
                <td class="text-center">
                  {{ campaign.votedStars }} / {{ campaign.totalStars }}
                </td>
                <td class="text-center">
                  {{ campaign.campaign.starLimitation }}
                </td>
                <td class="text-center">
                  {{ campaign.campaign.startDate | date: 'dd/MM/yyyy' }}
                </td>
                <td class="text-center">
                  {{ campaign.campaign.endDate | date: 'dd/MM/yyyy' }}
                </td>
                <td class="text-center">
                  {{ campaign.campaign.isCampaignActive }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xl-6 order-xl-2 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header boder-0">
          <h3>
            Participated employee list
          </h3>
          <span
            class="badge badge-warning"
            id="error-message"
            *ngIf="errorMessage$ | async"
            >{{ errorMessage$ | async }}</span
          >
        </div>
        <app-loading *ngIf="isCampaignDetailLoading$ | async"></app-loading>
        <div class="table-responsive ">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th class="text-center">Staff Id</th>
                <th appSortable="firstName" (sort)="onSort($event)">
                  First Name
                </th>
                <th appSortable="firstName" (sort)="onSort($event)">
                  Last Name
                </th>
                <th>Position</th>
                <th
                  class="text-center"
                  appSortable="firstName"
                  (sort)="onSort($event)"
                >
                  Voted / Received
                </th>
                <th class="action">History</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let staff of campaign.staffs">
                <td class="text-center">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <a class="avatar avatar-sm" data-toggle="tooltip">
                        <img
                          alt="Avatar"
                          src="{{
                            staff.avatarUrl ||
                              '../../../../../../assets/img/avatar/IMG_1171.JPG'
                          }}"
                          class="rounded-circle"
                        />
                      </a>
                    </div>
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{ staff.userId }}</span>
                    </div>
                  </div>
                </td>
                <td style="font-weight: bold; text-transform: capitalize;">
                  {{ staff.firstName || 'n/a' }}
                </td>
                <td style="text-transform: capitalize;">
                  {{ staff.lastName || 'n/a' }}
                </td>
                <td style="text-transform: capitalize;">
                  {{ staff.scope || 'n/a' }}
                </td>
                <td
                  class="text-center stars"
                  style="text-transform: capitalize;"
                >
                  {{ staff.votedStars }} /
                  {{ staff.totalStarsReceived }}
                </td>
                <td class="action">
                  <button
                    class="btn btn-sm btn-info"
                    (click)="
                      viewHistoryOfCampaign(campaign.campaign.id, staff.userId)
                    "
                  >
                    View History
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- <div
          class="d-flex justify-content-between"
          *ngIf="campaign.staffs.length"
        >
          <select
            class="custom-select"
            style="width: auto"
            name="pageSize"
            [value]="tableQuery.limit"
            (change)="changePageSize($event)"
          >
            <option *ngFor="let item of pageSizes" [ngValue]="item">
              {{ item }}
            </option>
          </select>
          <ngb-pagination
            [pageSize]="tableQuery.limit"
            [collectionSize]="totalItems$ | async"
            [page]="tableQuery.offset"
            (pageChange)="changePage($event)"
            class="pagination-sm"
            [boundaryLinks]="true"
          >
          </ngb-pagination>
        </div> -->
      </div>
    </div>
  </div>
</div>
