<div class="container-fluid mt--7" *ngIf="staff$ | async; let staff">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img
                  src="{{
                    staff.avatarUrl ||
                      '../../../../../../assets/img/avatar/IMG_1171.JPG'
                  }}"
                  class="rounded-circle"
                />
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between"></div>
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div
                class="card-profile-stats d-flex justify-content-center mt-md-5"
              >
                <div>
                  <span class="heading"
                    >{{ staff.firstName }} {{ staff.lastName }}</span
                  >
                  <span
                    class="description"
                    style="text-transform: capitalize;"
                    >{{ staff.scope || 'Position' }}</span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <h3 style="text-transform: capitalize;">{{ staff.addressCity }}</h3>
            <div class="h5 font-weight-300">
              <i class="ni location_pin" style="text-transform: capitalize;">
                {{ staff.addressStreet }}</i
              >
            </div>
            <hr class="my-4" />
            <p>
              {{ staff.quote || 'quote' }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Employee Profile</h3>
            </div>
            <div class="col-4 text-right">
              <!-- <a href="#!" class="btn btn-sm btn-primary">Edit</a> -->
            </div>
          </div>
          <hr class="my-4" />
        </div>
        <div class="card-body">
          <h6 class="heading-small text-muted mb-4">User information</h6>
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-lg-6">
                <label class="form-control-label" for="firstName"
                  >First Name</label
                >
                <input
                  type="text"
                  id="firstName"
                  class="form-control form-control-alternative"
                  placeholder="{{ staff.firstName }}"
                  style="text-transform: capitalize;"
                  aria-readonly="true"
                  disabled
                />
              </div>
              <div class="col-lg-6">
                <label class="form-control-label" for="middleName"
                  >Middle Name</label
                >
                <input
                  type="text"
                  id="middleName"
                  class="form-control form-control-alternative"
                  placeholder="{{ staff.middleName }}"
                  style="text-transform: capitalize;"
                  aria-readonly="true"
                  disabled
                />
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <label class="form-control-label" for="lastName"
                  >Last Name</label
                >
                <input
                  type="text"
                  id="lastName"
                  class="form-control form-control-alternative"
                  placeholder="{{ staff.lastName }}"
                  style="text-transform: capitalize;"
                  aria-readonly="true"
                  disabled
                />
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="birthday"
                    >Date of Birth</label
                  >
                  <div class="input-group input-group-alternative">
                    <input
                      type="datetime"
                      class="form-control form-control-alternative"
                      placeholder="{{ staff.birthday | date: 'dd/MM/yyyy' }}"
                      id="birthday"
                      aria-readonly="true"
                      disabled
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr class="my-4" />
          <!-- Address -->
          <h6 class="heading-small text-muted mb-4">Contact information</h6>
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-lg-4">
                <label class="form-control-label" for="email">Email</label>
                <input
                  type="text"
                  id="email"
                  class="form-control form-control-alternative"
                  placeholder="{{ staff.email }}"
                  aria-readonly="true"
                  disabled
                />
              </div>
              <div class="col-lg-4">
                <label class="form-control-label" for="phone">Telephone</label>
                <input
                  type="text"
                  id="phone"
                  class="form-control form-control-alternative"
                  placeholder="{{ staff.phone }}"
                  aria-readonly="true"
                  disabled
                />
              </div>
              <div class="col-lg-4">
                <label class="form-control-label" for="roleId">Position</label>
                <input
                  type="text"
                  id="roleId"
                  class="form-control form-control-alternative"
                  placeholder="{{ staff.scope }}"
                  aria-readonly="true"
                  style="text-transform: capitalize;"
                  disabled
                />
                <!-- <select
                      class="form-control"
                      data-toggle="select"
                      title="Simple select"
                      data-placeholder="Select a state"
                      formControlName="roleId"
                    >
                      <option selected value="">Select Position</option>
                      <option
                        *ngFor="let positionType of positionTypes"
                        [value]="positionType.roleId"
                        >{{ positionType.roleName }}
                      </option>
                    </select> -->
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <label class="form-control-label" for="addressCity">City</label>
                <input
                  type="text"
                  id="addressCity"
                  class="form-control form-control-alternative"
                  placeholder="{{ staff.addressCity }}"
                  style="text-transform: capitalize;"
                  aria-readonly="true"
                  disabled
                />
                <!-- <select
                      class="form-control"
                      data-toggle="select"
                      title="Simple select"
                      data-live-search="true"
                      data-live-search-placeholder="Search ..."
                      formControlName="addressCity"
                    >
                      <option selected value="">Select City</option>

                      <option *ngFor="let item of city">{{ item }}</option>
                    </select> -->
              </div>
              <div class="col-lg-8">
                <label class="form-control-label" for="addressStreet"
                  >Address</label
                >
                <input
                  id="addressStreet"
                  class="form-control form-control-alternative"
                  placeholder="{{ staff.addressStreet }}"
                  style="text-transform: capitalize;"
                  type="text"
                  aria-readonly="true"
                  disabled
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
