<div class="input-group mx-5 mt-5">
  <input
    type="text"
    class="form-control bg-light large"
    placeholder="Search for..."
    aria-label="Search"
    [(ngModel)]="searchText"
    (ngModelChange)="onSearch()"
  />
  <div class="input-group-append mr-7">
    <button class="btn btn-primary" type="button" (click)="clearSearch()">
      <i class="fas fa-search fa-sm"></i>
    </button>
  </div>
</div>
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">
                Employees list
              </h3>
              <span
                class="badge badge-warning"
                id="error-message"
                *ngIf="errorMessage$ | async"
              >
                {{ errorMessage$ | async }}
              </span>
            </div>
            <div class="col text-right">
              <button
                (click)="openUploadCSVFileDialog()"
                class="btn btn-sm btn-default"
              >
                Import CSV
              </button>
              <button
                (click)="openCreateAccountDialog()"
                class="btn btn-sm btn-primary"
              >
                Create Account
                <i
                  class="fas fa-spinner fa-pulse spinner"
                  *ngIf="isLoadingResults$ | async"
                ></i>
              </button>
            </div>
          </div>
        </div>
        <app-loading *ngIf="isStaffLoading$ | async"></app-loading>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th style="text-align: center;">Id</th>
                <th appSortable="isActive" (sort)="onSort($event)">
                  First Name
                </th>
                <th>
                  Last Name
                </th>
                <th>
                  Date of Birth
                </th>
                <th>Email</th>
                <th>Position</th>
                <th class="action">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let staff of staffs$ | async">
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <a class="avatar avatar-sm" data-toggle="tooltip">
                        <img
                          alt="Avatar"
                          src="{{
                            staff.avatarUrl ||
                              '../../../../../../assets/img/avatar/IMG_1171.JPG'
                          }}"
                          class="rounded-circle"
                        />
                      </a>
                    </div>
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{ staff.id }}</span>
                    </div>
                  </div>
                </th>
                <td style="font-weight: bold;" [routerLink]="[staff.id]">
                  {{ staff.firstName || 'n/a' }}
                </td>
                <td>
                  {{ staff.lastName || 'n/a' }}
                </td>
                <td>
                  {{ staff.birthday | date: 'dd/MM/yyyy' || 'n/a' }}
                </td>
                <td style="text-transform: lowercase;">
                  {{ staff.email || 'n/a' }}
                </td>
                <td>{{ staff.position || 'n/a' }}</td>
                <td class="action" (click)="openConfirmationDialog(staff.id)">
                  <button class="btn btn-sm btn-warning">Reset Password</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div
          class="d-flex justify-content-between"
          *ngIf="(staffs$ | async).length"
        >
          <select
            class="custom-select"
            style="width: auto"
            name="pageSize"
            [value]="tableQuery.limit"
            (change)="changePageSize($event)"
          >
            <option *ngFor="let item of pageSizes" [ngValue]="item">
              {{ item }}
            </option>
          </select>
          <ngb-pagination
            [pageSize]="tableQuery.limit"
            [collectionSize]="totalItems$ | async"
            [page]="tableQuery.offset"
            (pageChange)="changePage($event)"
            class="pagination-sm"
            [boundaryLinks]="true"
          >
          </ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
