<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">
                Employees list
              </h3>
            </div>
            <div class="col text-right">
              <button
                (click)="openUploadCSVFileDialog()"
                class="btn btn-sm btn-default header-button"
              >
                Import CSV
              </button>
              <button
                (click)="openCreateAccountDialog()"
                class="btn btn-sm btn-primary header-button"
              >
                Create Account
              </button>
            </div>
          </div>
        </div>
        <app-loading *ngIf="isStaffLoading$ | async"></app-loading>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th class="text-center">Id</th>
                <th (sort)="onSort($event)" appSortable="firstName">
                  First Name
                </th>
                <th (sort)="onSort($event)" appSortable="lastName">
                  Last Name
                </th>
                <th
                  class="text-center"
                  (sort)="onSort($event)"
                  appSortable="birthday"
                >
                  Date of Birth
                </th>
                <th (sort)="onSort($event)" appSortable="email">Email</th>
                <th class="action">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr [formGroup]="searchForm">
                <td>Search :</td>
                <td>
                  <div class="input-group ">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i
                          class="ni ni-zoom-split-in"
                          style="cursor: pointer;"
                          (click)="search()"
                        ></i
                      ></span>
                    </div>
                    <input
                      class="form-control"
                      placeholder="First name ..."
                      type="text"
                      formControlName="firstname"
                    />
                  </div>
                </td>
                <td>
                  <div class="input-group ">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i
                          class="ni ni-zoom-split-in"
                          style="cursor: pointer;"
                          (click)="search()"
                        ></i
                      ></span>
                    </div>
                    <input
                      class="form-control"
                      placeholder="Last name ..."
                      type="text"
                      formControlName="lastname"
                    />
                  </div>
                </td>
                <td>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i
                          class="ni ni-zoom-split-in"
                          style="cursor: pointer;"
                          (click)="search()"
                        ></i
                      ></span>
                    </div>
                    <input
                      class="form-control"
                      placeholder="From ... "
                      name="fromdate"
                      [(ngModel)]="model1"
                      ngbDatepicker
                      #d1="ngbDatepicker"
                      formControlName="fromdate"
                    />
                    <div class="input-group-append">
                      <button
                        class="btn btn-outline fa fa-calendar"
                        (click)="d1.toggle()"
                        type="button"
                      ></button>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i
                          class="ni ni-zoom-split-in"
                          style="cursor: pointer;"
                          (click)="search()"
                        ></i
                      ></span>
                    </div>
                    <input
                      class="form-control"
                      placeholder="To ..."
                      name="todate"
                      [(ngModel)]="model2"
                      ngbDatepicker
                      #d2="ngbDatepicker"
                      formControlName="todate"
                    />
                    <div class="input-group-append">
                      <button
                        class="btn btn-outline fa fa-calendar"
                        (click)="d2.toggle()"
                        type="button"
                      ></button>
                    </div>
                  </div>
                </td>
                <td></td>
              </tr>
              <tr
                *ngFor="let staff of staffs$ | async"
                style="cursor: pointer;"
              >
                <td class="text-center" scope="row">
                  <div
                    class="media align-items-center"
                    [routerLink]="[staff.id]"
                    style="cursor: pointer;"
                  >
                    <div class="media-body">
                      <a class="avatar avatar-sm" data-toggle="tooltip">
                        <img
                          alt="Avatar"
                          src="{{
                            staff.avatarUrl ||
                              '../../../../../../assets/img/avatar/IMG_1171.JPG'
                          }}"
                          class="rounded-circle"
                        />
                      </a>
                    </div>
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{ staff.id }}</span>
                    </div>
                  </div>
                </td>
                <td style="font-weight: bold;" [routerLink]="[staff.id]">
                  {{ staff.firstName || 'n/a' }}
                </td>
                <td [routerLink]="[staff.id]">
                  {{ staff.lastName || 'n/a' }}
                </td>
                <td class="text-center" [routerLink]="[staff.id]">
                  {{ staff.birthday | date: 'dd/MM/yyyy' || 'n/a' }}
                </td>
                <td
                  style="text-transform: lowercase;"
                  [routerLink]="[staff.id]"
                >
                  {{ staff.email || 'n/a' }}
                </td>
                <td class="action" (click)="openConfirmationDialog(staff.id)">
                  <button class="btn btn-sm btn-warning">Reset Password</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div
          class="d-flex justify-content-between"
          *ngIf="(staffs$ | async).length"
        >
          <select
            class="custom-select"
            style="width: auto"
            name="pageSize"
            [value]="tableQuery.limit"
            (change)="changePageSize($event)"
          >
            <option *ngFor="let item of pageSizes" [ngValue]="item">
              {{ item }}
            </option>
          </select>
          <ngb-pagination
            [pageSize]="tableQuery.limit"
            [collectionSize]="totalItems$ | async"
            [page]="tableQuery.offset"
            (pageChange)="changePage($event)"
            class="pagination-sm"
            [boundaryLinks]="true"
          >
          </ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
