.row {
  justify-content: center;
}

.card-deck {
  margin-bottom: 3rem !important;
}

.card-body {
  border-radius: inherit;
  background-color: #ffffff;
  padding: 16px 0;

  h5 {
    padding-left: 16px;
  }

  p {
    padding-left: 16px;
  }
}

.container-fluid {
  padding: 50px 0;
}
