.modal-header,
.modal-footer {
  background-color: #fefdf8;
  border-radius: 5px;
}

.modal-body {
  background-color: #fef8f9;

  .badge {
    background-color: #e9ecef;
  }

  .form-group {
    margin-bottom: 1rem !important;
  }
}
