.modal-header,
.modal-footer {
  background-color: #fefdf8;
  border-radius: 5px;
}

.modal-body {
  background-color: #fef8f9;

  .badge {
    background-color: #e9ecef;
  }

  .form-group {
    margin-bottom: 1rem !important;
  }

  .error {
    height: 10px;
    font-size: 13px;
    color: tomato;
    padding: 3px 0 0 20px;
  }
}
