.modal-header,
.modal-footer {
  background-color: #ffffff;
  border-radius: 5px;
}

.modal-body {
  background-color: #f7fafc;

  .badge {
    background-color: #e9ecef;
  }

  .form-group {
    margin-bottom: 1rem !important;
  }

  .error {
    height: 10px;
    font-size: 13px;
    color: tomato;
    padding: 3px 0 0 40px;
  }
}
