<div class="modal-header">
  <h1 class="modal-title">{{ title }}</h1>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form (ngSubmit)="accept()" [formGroup]="changePasswordForm">
  <div class="modal-body">
    <div class="container">
      <div class="form-group mb-3">
        <div class="input-group input-group-alternative">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
          </div>
          <input
            class="form-control"
            placeholder="Current Password"
            [type]="hide1 ? 'password' : 'text'"
            formControlName="currentPassword"
          />
          <div class="input-group-append">
            <span class="input-group-text">
              <i
                *ngIf="hide1 === true"
                class="fa fa-eye"
                (click)="hide1 = !hide1"
              ></i>
              <i
                *ngIf="hide1 === false"
                class="fa fa-eye-slash"
                (click)="hide1 = !hide1"
              ></i>
            </span>
          </div>
        </div>
        <div class="error">
          <span
            *ngIf="
              changePasswordForm.get('currentPassword').errors?.required &&
              changePasswordForm.get('currentPassword').touched
            "
          >
            Please enter current password
          </span>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group input-group-alternative">
          <div class="input-group-prepend">
            <span class="input-group-text"
              ><i class="ni ni-lock-circle-open"></i
            ></span>
          </div>
          <input
            class="form-control"
            placeholder="New Password"
            [type]="hide2 ? 'password' : 'text'"
            formControlName="newPassword"
          />
          <div class="input-group-append">
            <span class="input-group-text">
              <i
                *ngIf="hide2 === true"
                class="fa fa-eye"
                (click)="hide2 = !hide2"
              ></i>
              <i
                *ngIf="hide2 === false"
                class="fa fa-eye-slash"
                (click)="hide2 = !hide2"
              ></i>
            </span>
          </div>
        </div>
        <div class="error">
          <span
            style="align-content: center;"
            *ngIf="
              changePasswordForm.get('newPassword').errors?.required &&
              changePasswordForm.get('newPassword').touched
            "
            >Please enter new password</span
          >
          <span
            *ngIf="
              changePasswordForm.get('currentPassword').valid &&
              changePasswordForm.get('newPassword').errors?.minlength
            "
            >New password with more than 8 characters
          </span>
          <span
            *ngIf="
              changePasswordForm.get('newPassword').value ===
                changePasswordForm.get('currentPassword').value &&
              changePasswordForm.get('currentPassword').valid
            "
            >New password must be different from the old one</span
          >
        </div>
      </div>
      <div class="form-group">
        <div class="input-group input-group-alternative">
          <div class="input-group-prepend">
            <span class="input-group-text"
              ><i class="ni ni-lock-circle-open"></i
            ></span>
          </div>
          <input
            class="form-control"
            placeholder="Confirm Password"
            [type]="hide3 ? 'password' : 'text'"
            formControlName="confirmPassword"
          />
          <div class="input-group-append">
            <span class="input-group-text">
              <i
                *ngIf="hide3 === true"
                class="fa fa-eye"
                (click)="hide3 = !hide3"
              ></i>
              <i
                *ngIf="hide3 === false"
                class="fa fa-eye-slash"
                (click)="hide3 = !hide3"
              ></i>
            </span>
          </div>
        </div>
        <div class="error">
          <span
            style="align-content: center;"
            *ngIf="
              changePasswordForm.get('confirmPassword').errors?.required &&
              changePasswordForm.get('confirmPassword').touched
            "
            >Please confirm new password</span
          >
          <span
            *ngIf="
              changePasswordForm.get('newPassword').valid &&
              changePasswordForm.get('confirmPassword').dirty &&
              changePasswordForm.get('confirmPassword').value !=
                changePasswordForm.get('newPassword').value
            "
            >It does not look like the same</span
          >
        </div>
      </div>
    </div>
  </div>
</form>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="decline()">
    {{ btnCancelText }}
  </button>
  <button type="button" class="btn btn-danger" (click)="accept()">
    {{ btnOkText }}
  </button>
</div>
