<header>
  <a routerLink="/dashboard" id="brand">Enouvo IT Solutions</a>
  <a class="example-spacer"></a>
  <nav class="tab">
    <a
      routerLink="/dashboard"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngIf="authService.isLoggedIn()"
      >Dashboard</a
    >
    <a
      routerLink="/admin"
      routerLinkActive="active"
      *ngIf="role === roles.Admin && authService.isLoggedIn()"
      >Admin</a
    >
    <a
      routerLink="/reset-password"
      routerLinkActive="active"
      *ngIf="role === roles.Admin && authService.isLoggedIn()"
      >Reset Password</a
    >
    <a
      routerLink="/change-password"
      routerLinkActive="active"
      *ngIf="role !== roles.Admin && authService.isLoggedIn()"
      >Change Password</a
    >
    <a
      routerLinkActive="active"
      (click)="logOut()"
      *ngIf="authService.isLoggedIn()"
      >Log Out</a
    >
  </nav>
</header>
<section>
  <router-outlet></router-outlet>
</section>
<footer>
  <div class="row">
    <a id="copyRight">© 2020 Copyright:</a>
    <a href="https://enouvo.com"> Enouvo IT Solutions</a>
  </div>
</footer>
