mat-card {
  background-color: #fff;
  padding: 30px 30px 10px 30px;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: max-content;
}

h2 {
  color: #5299d3;
  padding: 20px 0x 20px 0px;
  margin-bottom: 10px;
  text-shadow: 0.5px 0.5px 4px rgba(0, 0, 0, 0.2);
}

span,
.mat-form-filed {
  width: 100%;
}

#error-message {
  margin-bottom: 20px;
  width: 100px;
}

button {
  height: 40px;
  margin-top: 5px;
  width: 100%;
  padding: auto;
}

#btn-submit {
  background-color: #5299d3;
  color: #fff;
}

button .mat-spinner circle {
  stroke: #faf9f9;
}

button mat-spinner {
  display: inline-block;
}
