<mat-card class="resetPW-form">
  <h2>Reset your password</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="resetForm">
    <mat-form-field class="example-full-width">
      <input
        matInput
        placeholder="Username"
        formControlName="username"
        type="text"
      />
      <mat-error>
        <span
          *ngIf="
            !resetForm.get('username').valid &&
            resetForm.get('username').touched
          "
          >Please enter username</span
        >
      </mat-error>
    </mat-form-field>
    <mat-error>
      <span id="error-message" *ngIf="errorMessage$ != null">
        {{ errorMessage$ | async }}
      </span>
    </mat-error>
    <div class="button-row">
      <button mat-raised-button color="primary" type="submit">
        Submit
      </button>
    </div>
  </form>
</mat-card>
