<div class="container-fluid">
  <div class="row">
    <div class="col-8 col-sm-6 col-md-4 col-lg-4 col-xl-2 reset-password-form">
      <h2>Reset your password</h2>
      <br />
      <form (ngSubmit)="onSubmit()" [formGroup]="resetPasswordForm">
        <div class="form-group">
          <label for="newPassword">Your Username</label>
          <input
            name="username"
            id="username"
            type="text"
            required
            class="form-control"
            formControlName="username"
            placeholder="enter your username"
          />
          <mat-error>
            <span
              *ngIf="
                !resetPasswordForm.get('username').valid &&
                resetPasswordForm.get('username').touched &&
                resetPasswordForm.get('username').dirty
              "
              >Username must be required!</span
            >
          </mat-error>
        </div>
        <!-- <div *ngIf="errorMessage$">
          <div class="alert alert-danger" role="alert">
            {{ errorMessage$ | async }}
          </div>
        </div> -->
        <hr />
        <button type="submit" class="btn btn-submit">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
