<div class="wrapper">
  <div class="container col-12 col-sm-7 col-md-7 col-lg-5 col-xl-3 ">
    <mat-card class="resetPW-form">
      <h2>Reset password form</h2>
      <form (ngSubmit)="onSubmit()" [formGroup]="resetForm">
        <mat-form-field class="mat-form-filed">
          <input
            matInput
            placeholder="Username"
            formControlName="username"
            type="text"
          />
          <mat-error>
            <span *ngIf="resetForm.get('username').errors?.required"
              >Please enter username</span
            >
          </mat-error>
        </mat-form-field>
        <mat-error>
          <span id="error-message" *ngIf="errorMessage$ | async">
            {{ errorMessage$ | async }}
          </span>
        </mat-error>
        <div class="button-row">
          <button mat-raised-button id="btn-submit" type="submit">
            Submit
            <mat-spinner
              [strokeWidth]="2"
              [diameter]="20"
              *ngIf="isLoadingResults$ | async"
            ></mat-spinner>
          </button>
          <button mat-flat-button routerLink="/">
            Cancel
          </button>
        </div>
      </form>
    </mat-card>
  </div>
</div>
