mat-toolbar {
  background-color: #5299d3;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
  display: absolute;
  height: 64px;
}

mat-icon {
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

button {
  background-color: #5299d3;
  margin: auto;
  border-style: none;
}

button #menu-left {
  padding-top: 8px;
  margin-right: 5px;
}

button #menu-right {
  padding-top: 4px;
}

a:hover,
a:active {
  border-bottom: 2px solid lawngreen;
}

.navigation-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#menu {
  color: white;
  font-size: large;
}

i {
  position: relative;
}
.menu-link {
  color: #0f4c81;
}

#logout {
  color: red;
}
