<mat-toolbar>
  <div fxHide.gt-xs>
    <button
      mat-icon-button
      *ngIf="authService.isLoggedIn()"
      (click)="onToggleSidenav()"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/dashboard">Enouvo IT Solution</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
        <a routerLink="/dashboard" *ngIf="authService.isLoggedIn()"
          >Dashboard</a
        >
      </li>
      <li>
        <a routerLink="/admin" *ngIf="authService.isAdmin()">Admin </a>
      </li>

      <li>
        <button
          mat-button
          id="menu"
          [matMenuTriggerFor]="funtion"
          *ngIf="authService.isLoggedIn()"
        >
          Menu
        </button>

        <mat-menu #funtion="matMenu">
          <button
            mat-menu-item
            [matMenuTriggerFor]="adminFuntion"
            *ngIf="authService.isAdmin()"
          >
            Features
          </button>
          <button mat-menu-item id="logout" (click)="logOut()">Log Out</button>
        </mat-menu>

        <mat-menu #adminFuntion="matMenu">
          <button
            mat-menu-item
            routerLink="/register"
            *ngIf="authService.isAdmin()"
          >
            Register Account
          </button>
          <button
            mat-menu-item
            routerLink="/reset-password"
            *ngIf="authService.isAdmin()"
          >
            Reset Password
          </button>
          <button
            mat-menu-item
            routerLink="/change-password"
            *ngIf="authService.isLoggedIn()"
          >
            Change Password
          </button>
        </mat-menu>
      </li>
    </ul>
  </div>
</mat-toolbar>
