<mat-toolbar>
  <div fxHide.gt-xs>
    <button *ngIf="authService.isLoggedIn()" (click)="onToggleSidenav()">
      <mat-icon id="menu-left">menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/dashboard">Enouvo IT Solutions</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <a
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/dashboard"
        *ngIf="authService.isLoggedIn()"
        >Dashboard</a
      >
      <a
        routerLinkActive="active"
        routerLink="/admin"
        *ngIf="authService.isAdmin()"
        >Admin
      </a>

      <button [matMenuTriggerFor]="funtion" *ngIf="authService.isLoggedIn()">
        <mat-icon id="menu-right">menu</mat-icon>
      </button>

      <mat-menu #funtion="matMenu">
        <a
          class="menu-link"
          mat-menu-item
          routerLink="/create-account"
          *ngIf="authService.isAdmin()"
        >
          Create Account
        </a>
        <a
          class="menu-link"
          mat-menu-item
          routerLink="/reset-password"
          *ngIf="authService.isAdmin()"
        >
          Reset Password
        </a>
        <a
          class="menu-link"
          mat-menu-item
          routerLink="/change-password"
          *ngIf="authService.isLoggedIn()"
        >
          Change Password
        </a>
        <a class="menu-link" mat-menu-item id="logout" (click)="logOut()"
          >Log Out</a
        >
      </mat-menu>
    </ul>
  </div>
</mat-toolbar>
