mat-toolbar {
  background-color: #5299d3;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
}

mat-icon {
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  border-bottom: 2px solid lawngreen;
}

.navigation-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
