mat-toolbar {
  color: white;
  background-color: #5299d3;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
}

.menu-spacer {
  flex: 1 1 auto;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar a {
  display: inline-block;
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

mat-toolbar a .active {
  border-bottom: 2px solid lawngreen;
}
/* @media (min-width: 768px) {
  .sidenav {
    display: none;
  }
} */

a:hover {
  border-bottom: 2px solid lawngreen;
}
