mat-toolbar {
  justify-content: center;
  background-color: #5299d3;
  height: 4rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
}

.example-spacer {
  flex: 1 1 auto;
}

#brand {
  color: #fff;
}

button {
  color: #fff;
  font-size: large;
}

a {
  text-decoration: none;
  color: #011627;
}
