/* mat-toolbar {
  justify-content: space-between;
  background-color: #5299d3;
  height: 4rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
}

#brand {
  color: #fff;
  text-decoration: none;
  font-size: larger;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-spacer {
  flex: 1 1 auto;
}

nav {
  position: relative;
  margin: auto;
  width: fit-content;
  float: right;
}

nav a {
  font-size: medium;
  color: #fff;
  text-decoration: none;
  position: relative;
  display: inline-block;
  text-align: center;
  margin-left: 15px;
  padding: 0 5px 0 5px;
}

.tab a.active {
  border-bottom: 2px solid lawngreen;
} */
