/* Structure */
.container {
  position: relative;
  height: 100%;
}

.example-container {
  border-radius: 10px;
  box-shadow: none;
}

mat-card {
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
}

mat-spinner {
  margin: 0 auto;
  margin-top: 20%;
}

.staff-detail-column-left {
  text-align: center;
}

mat-card-header {
  justify-content: center;
}

img {
  width: 90%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h2 {
  margin: auto;
  padding-top: 20px;
  color: #011627;
  text-shadow: 1px 1px 3px rgba(1, 22, 39, 0.3);
}

mat-card-subtitle {
  text-align: center;
  font-size: medium;
  font-style: italic;
  padding: 5px 0 10px 0;
}

.button-row {
  margin-bottom: 0;
}

.mat-flat-button {
  margin: 5px;
}

.staff-detail-column-right {
  padding: 5px 0 25px 10px;
  line-height: 30px;
  font-kerning: auto;
  background-color: whitesmoke;
  border-radius: 10px;
  display: flex;
  color: #011627;
  overflow-x: auto;
  text-shadow: 1px 1px 3px rgba(1, 22, 39, 0.3);
}

label {
  margin-bottom: -20px;
  color: #5299d3;
  font-size: large;
}

h5 {
  margin: auto;
  font-size: x-large;
  padding: 5px 0 25px 10px;
  line-height: 30px;
  font-kerning: auto;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
