<div
  class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="min-height: 300px; "
>
  <span class="mask opacity-8"></span>
  <!-- <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-blue">
          Đường tình anh thua Đường đua anh chấp
        </h1>
      </div>
    </div>
  </div> -->
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-9 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header  border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Create employee account</h3>
              <span
                class="badge badge-warning"
                id="error-message"
                *ngIf="errorMessage$ | async"
              >
                {{ errorMessage$ | async }}
              </span>
            </div>
            <div class="col-4 text-right">
              <!-- <button
                type="button"
                class="btn btn-default btn-sm"
                routerLink="/upload"
              >
                Upload
                <i
                  class="fas fa-spinner fa-pulse spinner"
                  *ngIf="isLoadingResults$ | async"
                ></i>
              </button> -->
              <button (click)="onSubmit()" class="btn btn-sm btn-primary">
                Submit
                <i
                  class="fas fa-spinner fa-pulse spinner"
                  *ngIf="isLoadingResults$ | async"
                ></i>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onSubmit()" [formGroup]="createAccountForm">
            <h6 class="heading-small text-muted mb-4">User information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="firstName"
                      >First Name</label
                    >
                    <input
                      type="text"
                      id="firstName"
                      class="form-control form-control-alternative"
                      placeholder="First Name"
                      formControlName="firstName"
                    />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="middleName"
                      >Middle Name</label
                    >
                    <input
                      type="text"
                      id="middleName"
                      class="form-control form-control-alternative"
                      placeholder="Middle Name"
                      formControlName="middleName"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="lastName"
                      >Last Name</label
                    >
                    <input
                      type="text"
                      id="lastName"
                      class="form-control form-control-alternative"
                      placeholder="Last Name"
                      formControlName="lastName"
                    />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <div class="form-group">
                      <label class="form-control-label" for="birthday"
                        >Date of Birth</label
                      >
                      <div class="input-group input-group-alternative">
                        <div class="input-group-prepend">
                          <span class="input-group-text"
                            ><i class="ni ni-calendar-grid-58"></i
                          ></span>
                        </div>
                        <input
                          class="form-control datepicker"
                          placeholder="Select date"
                          id="birthday"
                          name="dp"
                          ngbDatepicker
                          #d="ngbDatepicker"
                          (click)="d.toggle()"
                          type="text"
                          formControlName="birthday"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Contact information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="email">Email</label>
                    <input
                      type="email"
                      id="email"
                      class="form-control form-control-alternative"
                      placeholder="Email"
                      formControlName="email"
                    />
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="phone"
                      >Telephone</label
                    >
                    <input
                      type="text"
                      id="phone"
                      class="form-control form-control-alternative"
                      placeholder="Telephone"
                      formControlName="phone"
                    />
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="roleId"
                      >Position</label
                    >
                    <select
                      class="form-control"
                      data-toggle="select"
                      title="Simple select"
                      data-placeholder="Select a state"
                      formControlName="roleId"
                    >
                      <option selected value="">Select Position</option>
                      <option
                        *ngFor="let positionType of positionTypes"
                        [value]="positionType.roleId"
                        >{{ positionType.roleName }}</option
                      >
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="addressCity"
                      >City</label
                    >
                    <select
                      class="form-control"
                      data-toggle="select"
                      title="Simple select"
                      data-live-search="true"
                      data-live-search-placeholder="Search ..."
                      formControlName="addressCity"
                    >
                      <option selected value="">Select City</option>

                      <option *ngFor="let item of city">{{ item }}</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-8">
                  <div class="form-group">
                    <label class="form-control-label" for="addressStreet"
                      >Address</label
                    >
                    <input
                      id="addressStreet"
                      class="form-control form-control-alternative"
                      placeholder="Address"
                      type="text"
                      formControlName="addressStreet"
                    />
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
