header {
  justify-content: space-between;
  background-color: #5299d3 !important;
  height: 4rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
}

.example-spacer {
  flex: 1 1 auto;
}

.example-spacer {
  flex: 1 1 auto;
}

nav {
  position: relative;
  margin: auto;
  width: fit-content;
  float: right;
}

nav a {
  font-size: medium;
  color: #fff;
  text-decoration: none;
  position: relative;
  display: inline-block;
  text-align: center;
  margin-left: 15px;
  padding: 0 5px 0 5px;
}

.tab a.active {
  border-bottom: 2px solid lawngreen;
}

/* MAIN STYLES
--------------------------------------------------------------------- */

/* FOOTER STYLES
--------------------------------------------------------------------- */
footer {
  background-color: #5299d3;
  height: 2rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.row {
  width: 100%;
  text-align: center;
  margin: 5px 0px 5px 0px;
  justify-content: center;
  color: #0f4c81;
}

#copyRight {
  color: #011627 !important;
}

a {
  padding: 2px;
  color: #fff;
}
