#error-message {
  color: #fc7c5f;
  font-size: 13px;
}

html,
body {
  height: fit-content;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  overflow: auto;
}

.dialog-size-xl .modal-dialog {
  max-width: 1024px;
}

.dialog-size-xxl .modal-dialog {
  max-width: 1440px;
}
