.modal-header {
  background-color: #ffffff;
  border-radius: 5px;
}

.modal-body {
  background-color: #f7fafc;
  border-radius: 5px;
  padding: 30px;
}

img {
  margin-top: 80px;
}

.card {
  background-color: #f7fafc !important;
}

.card-header,
.card-body {
  background-color: #f7fafc !important;
  border-radius: inherit;
}
