.modal-header {
  background-color: #ffffff;
  border-radius: 5px;
}

.modal-body {
  background-color: #f7fafc;
  border-radius: 5px;
  padding: 0;
}

.card-body {
  background-color: #f7fafc !important;
  border-radius: inherit;
  border-radius: 5px;
}
