/* Structure */
.container {
  height: 100vh;
}

.example-container {
  height: 100vh;
}

mat-card {
  height: 100%;
  display: absolute;
  overflow: auto;
}

mat-form-filed {
  height: fit-content;
  width: 30%;
}

form {
  height: 100%;
  text-align: center;
}

.example-full-width {
  width: 100%;
}

.example-full-width:nth-last-child() {
  margin-bottom: 10px;
}

.button-row {
  margin: 10px 0;
}

.mat-flat-button {
  margin: 5px;
}

mat-spinner {
  margin: 0 auto;
  margin-top: 20%;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
