/* Structure */
.wrapper {
  background-color: rgba(15, 76, 129, 1);
}

.container {
  height: 100%;
}

mat-form-field {
  padding: 0 16px;
}

mat-card {
  overflow: auto;
}

h3 {
  text-align: center;
  margin: auto;
  padding: 10px;
}

form {
  height: 100%;
  text-align: center;
}

.mat-flat-button {
  margin: 5px;
}

mat-spinner {
  margin: 0 auto;
  margin-top: 20%;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
